<div>
  <h1>{{name}}</h1>
  <div>
    <b>Born:</b>
    {{birthdate}}
    ({{birthplace}})
  </div>
  <br />
  <div>
    <b>Died:</b>
    {{deathdate}}
    ({{deathplace}})
  </div>
  <br />
  <div>
    <b>Nationality:</b>
    {{nationality}}
  </div>
  <br />
  <div>
    <b>Occupation:</b>
    {{occupation}}
  </div>
  <hr />
  {{> title data='Known for:' big=true}}
  <div>
    <ul>
      {{#each known_for}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  {{> title data='Education' big=true}}
  <div>
    <p><b>{{education.[0].degree}} - "{{education.[0].field}}"</b></p>
    <p>{{education.[0].institution}} ({{education.[0].year}})</p>
  </div>
  <br />
  <hr />
  <div>
    {{> title data='Publications:' big=true}}
    <ul>
      {{#each notable_publications}}
        <li>
          <h3>"{{title}}"</h3>
          {{publisher}}
          ({{year}})
        </li>
      {{/each}}
    </ul>
  </div>
  <br />
  <div>
    {{> title data='Partners:' big=true}}
    <ul>
      {{#each partners}}
      <li>
        <p>{{name}} - {{relationship}}, {{years}} years</p>
      </li>
      {{/each}}
    </ul>
  </div>
  <br />
  <div>
    {{> title data='Awards:' big=true}}
    <ul>
      {{#each awards}}
        <li>
          <h3>{{title}}</h3>
          <p>({{description}}, {{year}})</p>
        </li>
      {{/each}}
    </ul>
  </div>
  <br />
  <hr />
  <div>
    {{> title data='Influences:' big=true}}
    <ul>
      {{#each influences}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  <br />
  <div>
    {{> title data='Influenced:' big=true}}
    <ul>
      {{#each influenced}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  <br />
  <hr />
  <div>
    {{> title data='Quotes:' big=true}}
    <ul>
      {{#each quotes}}
      <p><q>{{this}}</q></p>
      {{/each}}
    </ul>
  </div>
  <br />
  <div>
    {{> title data='Major discoveries:' big=true}}
    <ul>
      {{#each major_discoveries}}
        <h3>{{title}}, ({{year}})</h3>
        <p><b>Description: </b>{{description}}</p>
      {{/each}}
    </ul>
  </div>
  <br />
  <div>
    {{> title data='Contributions:' big=true}}
    {{#with contributions}}
      <h3>{{title}}, ({{year}})</h3>
      <p><b>Description: </b>{{description}}</p>
      <p><b>Field: </b>{{field}}</p>
    {{/with}}
  </div>
</div>