<div>
  {{#with person}}
    <div>
      <h1>{{name}}</h1>
    </div>
    <div>
      <b>{{age}} years old</b>
    </div>
    <div>
      <em>({{gender}})</em>
    </div>
    <br />
    <div>
      {{#with address}}
        <address>{{street}},
          {{city}},
          {{state}},
          {{zip}},
          {{country}}
        </address>
      {{/with}}
    </div>
    <br />
    <hr />
    <div>
      {{> title data='Education' big=true}}
        {{#each education}}
            <div>
            <p><b> Degree:</b> {{degree}}</p>
            <p><b> Major:</b> {{major}}</p>
            <p><b> University:</b> {{university}} ({{graduationYear}})</p>
            </div>
        {{/each}}
    </div>
    <br />
    <hr />
    <div>
      {{> title data='Work Experience' big=true}}
      {{#each workExperience}}
      <div>
        <em>{{> title data=title}}</em>
        <p><b>Company: </b> {{company}}</p>
        <p><b>Duration: </b> {{startDate}} - {{endDate}}</p>
        <p><b>Responsibilities:</b></p>
        <ul>
        {{#each responsibilities}}
        <li>{{this}}</li>
        {{/each}}
        </ul>
        <p><b>Year founded:</b> {{year_founded}}</p>
        <p><b>Industry:</b> {{industry}}</p> 
      </div>
      <br />
      <div>
        {{> title data='Employees:'}}
        <ul>
        {{#each employees}}
        <li>
          <p><b>Name: </b>{{name}}</p>
          <p><b>Position: </b>{{position}}</p>
          <p><b>Department: </b>{{department}}</p>
        </li>
        {{> title data='Projects:'}}
        <ul>
        {{#each projects}}
          <li>
            <p><b>Name: </b> {{name}}</p>
            <p><b>Description:</b> {{description}}</p>
            <p><b>Status: </b> {{status}}</p>
          </li>
          {{> title data='Teams:'}}
          <ul>
            {{#each teams}}
              <li>
                <p><b>Team name:</b> {{team_name}}</p>
                {{#with team_leader}}
                  <p>{{name}} ({{title}})</p>
                  <a href="{{email}}">{{email}}</a>
                {{/with}}
              </li>
              {{> title data='Team members:'}}
              <ul>
                {{#each team_members}}
                  <li>
                    <p>{{name}} ({{title}})</p>
                    <a href="{{email}}">{{email}}</a>
                    <p><b>Skills:</b></p>
                    <ol>
                      {{#each skills}}
                      <li>{{this}}</li>
                      {{/each}}
                    </ol>
                    <p><b>Projects:</b></p>
                    <ol>
                      {{#each projects}}
                      <li>
                        <p>{{name}} <em>({{description}})</em></p>
                        <p>Technologies:</p>
                        <ul>
                          {{#each technologies}}
                          <li>{{this}}</li>
                          {{/each}}
                        </ul>
                        <p>Team members:</p>
                        <ul>
                          {{#each team_members}}
                          <li>
                            <p>{{name}} ({{title}})</p>
                          </li>
                          {{/each}}
                        </ul>
                      </li>
                      {{/each}}
                    </ol>
                  </li>
                {{/each}}
              </ul>
            {{/each}}
          </ul>
        {{/each}}
        </ul>
        {{/each}}
        </ul>
      </div>

      {{/each}}
      
    </div>
  {{/with}}
</div>